* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    60% 106% at 34.94% 108.33%,
    #f7cbfd 0%,
    #7758d1 100%
  );
  /* background: radial-gradient(73.05% 102.64% at 39.73% 109.18%, #0266B9 0%, #042036 100%); */
  display: flex;
  place-content: center;
  place-items: center;
}

main.app {
  display: flex;
  /* place-items: center; */
  position: relative;
  width: 90%;
  height: 90%;
  /* background: rgba(39, 25, 72, 0.3); */
  background-color: rgb(12, 38, 60, 0.6);
  border-radius: 16px;
  /* border: 2px solid #000; */
}

main.app header {
  width: 100px;
  margin-top: 40px;
  /* background-color: black; */
}

div.logo,
navbar.menu-app ul li {
  display: flex;
  place-content: center;
  place-items: center;
  padding: 24px 28px;
  cursor: pointer;
  position: relative;
}

navbar.menu-app ul li:hover img {
  filter: brightness(0) invert(1);
}

navbar.menu-app ul li:hover::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  filter: blur(20px);
}

div.logo img {
  height: 40px;
  width: auto;
}

navbar.menu-app ul {
  list-style: none;
}

navbar.menu-app img {
  height: 20px;
}

/***** content app ***/

.content-cover {
  position: absolute;
  right: 80px;
  bottom: 76px;
}

.content-cover img {
 height: 500px;
 width: auto; 
}

img.progress {
  width: 700px;
  outline: none;
}




input.progress {
  position: relative;
}


input.progress::before {
  content: "";
  position: absolute;
  background: url(./assets/icons/Progressbar.svg) center/cover no-repeat;
  z-index: 8;
  width: 100%;
  height: 40px;
  top: -16px;
}





/***************************************/

.audio-buttons{
  position: absolute;
  z-index: 2;
  align-items: center;
  display: flex;
  bottom: 0;
  left: 0;
  background-color: rgb(12, 38, 60, 0.8);
  width: 100%;
  height: 80px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 0 0 16px 16px;
}

.audio-buttons #controlAudio{
  appearance: none;
  width: 100%;
  background-color: rgb(66, 66, 66);
  height: 10px;
  margin: 0 20px;
}


.audio-buttons #controlAudio::-webkit-slider-thumb {
  appearance: none;
  background-color: rgb(41, 115, 131);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}




/**********************/



.progress__container {
  display: inline-flex;
  background: #a8a8a8;
  height: 1rem;
  width: 100%;
  margin-bottom: 2.4rem;
  border-radius: 10px;
  border-radius: 12px;
  background: #e6e6e6;
  box-shadow: inset 7px 7px 15px #cdcdcd, inset -7px -7px 15px #ffffff;
  cursor: pointer;
  align-self: center;
}

.progress__bar {
  background: linear-gradient(360deg, #2da87b, #34dcacfa);
  border-radius: 12px;
  transition: all ease-in-out 0.03s;
}

#progress__fill {
  width: 0%;
}