* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    60% 106% at 34.94% 108.33%,
    #f7cbfd 0%,
    #7758d1 100%
  );
  /* background: radial-gradient(73.05% 102.64% at 39.73% 109.18%, #0266B9 0%, #042036 100%); */
  display: flex;
  place-content: center;
  place-items: center;
}

main.app {
  display: flex;
  /* place-items: center; */
  position: relative;
  width: 90%;
  height: 90%;
  /* background: rgba(39, 25, 72, 0.3); */
  background-color: rgb(12, 38, 60, 0.6);
  border-radius: 16px;
  /* border: 2px solid #000; */
}

main.app header {
  width: 100px;
  margin-top: 40px;
  /* background-color: black; */
}

div.logo,
navbar.menu-app ul li {
  display: flex;
  place-content: center;
  place-items: center;
  padding: 24px 28px;
  cursor: pointer;
  position: relative;
}

navbar.menu-app ul li:hover img {
  filter: brightness(0) invert(1);
}

navbar.menu-app ul li:hover::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  filter: blur(20px);
}

div.logo img {
  height: 40px;
  width: auto;
}

navbar.menu-app ul {
  list-style: none;
}

navbar.menu-app img {
  height: 20px;
}

/***** content app ***/

.content-cover {
  position: absolute;
  right: 80px;
  bottom: 76px;
  z-index: 4;
}

.content-cover::before {
  position: absolute;
  z-index: 4;
}

.content-cover img {
 height: 500px;
 width: auto; 
}

/* img.progress {
  width: 700px;
  outline: none;
} */


div.progrresBar {
  /* width: 100%; */
  width: 773px;
  position: relative;
}

div.progrresBar::after {
  content: "";
  position: absolute;
  background: url(./assets/icons/Progressbar.svg) no-repeat;
  object-fit: cover;
  object-position: 100%;
  z-index: 8;
  width: 100%;
  height: 40px;
  top: -16px;
  left: 0;
  opacity: .3;
}

input.progress {
  position: relative;
}

/* div.test {
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 9;
  width: 0%;
  height: 20px;
  background: conic-gradient(from -2.98deg at 3.94% 367.02%, #00DAEA 0deg, #00DAEA 28.91deg, #2719C8 53.28deg, #C441F4 68.28deg, #C441F4 103.91deg, #C441F4 141.41deg, #2719C8 171.41deg, #00DAEA 193.91deg, #00DAEA 231.41deg, #00DAEA 257.66deg, #2719C8 291.41deg, #C441F4 328.91deg, #C441F4 360deg);
  filter: blur(28px);
  transition: all .3s ease-out;
  cursor: pointer;
} */

div.test {
  content: "";
  position: absolute;
  background: url(./assets/icons/Progressbar.svg) no-repeat;
  z-index: 2;
  width: 0%;
  height: 40px;
  top: -16px;
  transition: all .2s ease-out;
  cursor: pointer;
}


/* 
input.progress::after {
  content: "";
  position: absolute;
  background: url(./assets/icons/Progressbar.svg) no-repeat;
  z-index: 2;
  width: 40%;
  height: 40px;
  top: -16px;
} */

input.progress::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 28px;
  background: conic-gradient(from -2.98deg at 3.94% 367.02%, #00DAEA 0deg, #00DAEA 28.91deg, #2719C8 53.28deg, #C441F4 68.28deg, #C441F4 103.91deg, #C441F4 141.41deg, #2719C8 171.41deg, #00DAEA 193.91deg, #00DAEA 231.41deg, #00DAEA 257.66deg, #2719C8 291.41deg, #C441F4 328.91deg, #C441F4 360deg);
  filter: blur(28px);
  opacity: .6;
}




/***************************************/

.audio-buttons{
  position: absolute;
  z-index: 9;
  align-items: center;
  display: flex;
  gap: 20px;
  bottom: 0;
  left: 0;
  /* background-color: rgb(12, 38, 60, 0.8); */
  background: rgba(16, 32, 62, 0.5);
  backdrop-filter: blur(50px);
  width: 100%;
  height: 80px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 0 0 16px 16px;
}

 /* .audio-buttons::after {
  position: absolute;
  left: 0;
  z-index: -1;
  content: "";
  width: 80%;
  height: 32%;  */
  /* background: linear-gradient(79.24deg, #00DAEA 19.03%, #1D138B 44.56%, #C441F4 70.21%); */
  /* background: conic-gradient(from -2.98deg at 3.94% 367.02%, #00DAEA 0deg, #00DAEA 28.91deg, #2719C8 53.28deg, #C441F4 68.28deg, #C441F4 103.91deg, #C441F4 141.41deg, #2719C8 171.41deg, #00DAEA 193.91deg, #00DAEA 231.41deg, #00DAEA 257.66deg, #2719C8 291.41deg, #C441F4 328.91deg, #C441F4 360deg);
  filter: blur(28px);
}  */


.audio-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

button.btn-backward {
  background: url(./assets/icons/subtract_15_seconds.svg) center/cover no-repeat;
  height: 12px;
  width: 20px;
}

button.btn-play {
  background: url(./assets/icons/play.svg) center/cover no-repeat;
  height: 20px;
  width: 20px;
}

button.btn-pause {
  background: url(./assets/icons/pause.svg) center/cover no-repeat;
  height: 20px;
  width: 20px;
}

button.btn-forward {
  background: url(./assets/icons/add_15_seconds.svg) center/cover no-repeat;
  height: 12px;
  width: 20px;
}

button.btn-previous {
  background: url(./assets/icons/previous.svg) center/cover no-repeat;
  height: 16px;
  width: 13px;
}

button.btn-next {
  background: url(./assets/icons/next.svg) center/cover no-repeat;
  height: 16px;
  width: 13px;
}



.buttons-control button:hover {
  filter: brightness(0) invert(1);
}


div.artwork {
  height: 52px;
  width: 52px;
}

.artwork img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}



/* .buttons-control button:hover::before {
  content: "";
  position: absolute;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: white;
  filter: blur(20px);
} */

.buttons-control {
  display: flex;
  place-items: center;
  gap: 20px;
  /* width: 300px; */
}


section.audio-buttons {
  padding: 0 32px;
}



.audio-buttons #controlAudio{
  appearance: none;
  width: 100%;
  position: relative;
  z-index: 20;
  background: transparent;
  height: 10px;
  cursor: pointer;
}


.audio-buttons #controlAudio::-webkit-slider-thumb {
  opacity: 0;
  position: relative;
  z-index: 20;
  appearance: none;
  background-color: rgb(41, 115, 131);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}




/*****************************/
















































/**********************/


/********* songs *********/


section.content-songs {
  position: relative;
  z-index: 20;
  margin-top: 20px;
  height: 74vh;
  width: 86vh;
  /* background-color: rgba(16, 28, 39, 0.519); */
  padding: 20px;
}

.content-info-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.image-info-song {
  display: flex;
  place-items: center;
  gap: 16px;
}

.content-info-song img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
}

.info-song {
  color: #fff;
}

.info-song h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

.info-song p {
  font-weight: 400;
  font-size: 1.2rem;
}

.data-song {
  display: flex;
  align-items: center;
  gap: 20px;
}

.data-song button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  padding-left: 28px;
  position: relative;
  cursor: pointer;
}

.data-song button.like-song:before {
  content: "";
  position: absolute;
  background: url(./assets/icons/like-it.svg) center/cover no-repeat;
  height: 18px;
  width: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.data-song button.play-song:before {
  content: "";
  position: absolute;
  background: url(./assets/icons/play.svg) center/cover no-repeat;
  height: 18px;
  width: 15px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.data-song button.like-song:hover::after {
  content: "";
  position: absolute;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #FF4F4F;
  filter: blur(20px);
} 

.data-song button.play-song:hover::after {
  content: "";
  position: absolute;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #FFf;
  filter: blur(20px);
} 



/**************************/

section.content-songs {
  overflow-y: scroll;
  /* background: linear-gradient(123.45deg, #0054A7 12.73%, #9A16BD 95.94%); */
}

section.content-songs::-webkit-scrollbar-track {
  background-color: transparent;
}

section.content-songs::-webkit-scrollbar-thumb {
  background: linear-gradient(123.45deg, #0054A7 12.73%, #9A16BD 95.94%);
  border-radius: 20px; 
}

section.content-songs::-webkit-scrollbar {
  width: 8px; 
}













/****************************/

.content-cover::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(123.45deg, #0054A7 12.73%, #9A16BD 95.94%);
  filter: blur(80px);
}



